In [1]:
12

12

In [2]:
10

10

In [3]:
collage = input('Enter your collage name')
city = input('enter your city')

In [4]:
print('name, collage, city')

name, collage, city

In [10]:
qty = 10
price = 90*qty
print('this is an apple',' it costs',price,'rupees')

this is an apple  it costs 900 rupees

In [11]:
print('this is an üçé.', qty, 'kg costs', price, 'rupees')

this is an üçé. 10 kg costs 900 rupees

f-string

In [16]:
f"this is an apple. {qty} kg costs {price} rupees"

'this is an apple. 10 kg costs 900 rupees'

In [24]:
x= 10
y= 3
z= x/y
print(f'the answer is {z:.2f}')
print(f'{x} / {y} = {z:.3f}')
print('this was good')

the answer is 3.33
10 / 3 = 3.333
this was good

In [28]:
n1, n2, n3 = 'raj', 'rajan', 'rajeshwari'
print(n1, len(n1), 'chars')
print(n2, len(n2), 'chars')
print(n3, len(n3), 'chars')

raj 3 chars
rajan 5 chars
rajeshwari 10 chars

In [30]:
print(f'{n1:15} {len(n1)} chars')
print(f'{n2:15} {len(n2)} chars')
print(f'{n3:15} {len(n3)} chars')

raj             3 chars
rajan           5 chars
rajeshwari      10 chars

In [34]:
print(f'{n1:^9} {len(n1)} chars')
print(f'{n2:^9} {len(n2)} chars')
print(f'{n3:^9} {len(n3)} chars')

   raj    3 chars
  rajan   5 chars
rajeshwari 10 chars

typecasting data and casting inputs

In [36]:
x = 10
float(x)

10.0

In [38]:
x ='10.5'
float(x)

10.5

In [43]:
data = '10000010'
print(int(data))
data = '1111'
print(int(data, 2))

10000010
15

In [44]:
data = 1290310
str(data)

'1290310'

In [52]:
a = int(input('Enter A:'))
b = int(input('Enter B:'))
a + b

3000

In [50]:
'1000' + '2000'

'10002000'

                    # wap to find out the Simple Interest, by taking user input for principle, rate and time

In [58]:
principal = int(input('Enter pricipal'))
rate = float(input('Enter rate'))
time = int(input('Enter time'))
si = principal * rate * time / 100
print(f'pricipal =  {principal}')
print(f'Rate = {rate}%')
print(f'Year = {time}')
print(f'simple Interest = {si:.2f}')

pricipal =  120000
Rate = 4.65%
Year = 10
simple Interest = 55800.00